@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:wght@400;700&display=swap');

:root {
	--f-high: #1e1b1b;
	--f-med: #2e2a2a;
	--f-low: #3c3838;

	--b-high: #fffaf3;
	--b-med: #f7f1ea;
	--b-low: #ece6de;

	--accent: #c29e92;
}

@media (prefers-color-scheme: dark) {
	:root {
		--f-high: #fffaf3;
		--f-med: #f7f1ea;
		--f-low: #ece6de;

		--b-high: #1e1b1b;
		--b-med: #2e2a2a;
		--b-low: #3c3838;

		/* --accent: #dcbbaf; */
		--accent: #c5c0d1;
	}
}

.light:root {
	--f-high: #1e1b1b;
	--f-med: #2e2a2a;
	--f-low: #3c3838;

	--b-high: #fffaf3;
	--b-med: #f7f1ea;
	--b-low: #ece6de;

	--accent: #c29e92;
}

.dark:root {
	--f-high: #fffaf3;
	--f-med: #f7f1ea;
	--f-low: #ece6de;

	--b-high: #1e1b1b;
	--b-med: #2e2a2a;
	--b-low: #3c3838;

	/* --accent: #dcbbaf; */
	--accent: #c5c0d1;
}

/* all themes */
:root {
	--overlay: var(--b-med);
	--border: var(--b-low);
	--display: 'Atkinson Hyperlegible';
	--transition: all 300ms ease;
}

/* resets */
html {
	font-size: 15px;
}

img {
	max-width: 100%;
}

a {
	text-decoration: none;
	color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
div {
	margin: 0;
	padding: 0;
}

p {
	line-height: 1.5;
}

button {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

/* defaults */
html,
body {
	font-family: 'Atkinson Hyperlegible', sans-serif;
	background-color: var(--b-high);
	color: var(--f-low);
}

/* section */
.section {
	padding: 0px 24px;
	margin: 0 auto;
	width: 100%;
	max-width: 1400px;
}

@media (min-width: 500px) {
	.section {
		padding: 0px 48px;
	}
}

@media (min-width: 800px) {
	.section {
		padding: 0px 150px;
	}
}

@media (min-width: 1200px) {
	.section {
		padding: 0px 300px;
	}
}

/* height & width */
.h-full {
	height: 100%;
}

.w-full {
	width: 100%;
}

/* space */
.space-lg {
	height: 96px;
}
.space-med {
	height: 36px;
}
.space-sm {
	height: 18px;
}

/* grid */
.grid {
	margin: 0 auto;
	width: 100%;
	display: grid;
	column-gap: 18px;
	row-gap: 24px;
	place-content: start / stretch;
	grid-auto-flow: row;
	/* TODO: max 2 columns */
	grid-template-columns: repeat(auto-fit, minmax(200px, auto));
}

/* flex */
.flex {
	display: flex;
}

.flex-col {
	flex-direction: column;
}

.justify-center {
	justify-content: center;
}

.space-between {
	justify-content: space-between;
}

.space-evenly {
	justify-content: space-evenly;
}

.space-around {
	justify-content: space-around;
}

.align-center {
	align-items: center;
}
