.nav {
	font-size: 14px;
	font-family: var(--display);
	font-weight: bold;
	color: var(--f-med);
	padding: 6px;
	border: 2px solid transparent;
	border-radius: 8px;
}
.nav:hover {
	color: var(--f-high);
	background-color: var(--overlay);
	border: 2px solid var(--border);
}
.inline {
	font-weight: bold;
	text-decoration: underline;
}
.inline:hover {
	color: var(--accent);
}
