.nav {
	font-size: 14px;
	font-family: var(--display);
	font-weight: bold;
	color: var(--f-low);
	padding: 6px;
	border: 2px solid transparent;
	border-radius: 8px;
}
.nav:hover {
	color: var(--f-high);
	background-color: var(--overlay);
	border: 2px solid var(--outline);
}
.inline {
	font-weight: bold;
	border-bottom: 2px solid var(--accent);
	color: var(--f-med);
}
.inline:hover {
	border-bottom: 2px solid var(--accent);
	color: var(--accent2);
}
