.nav {
	font-size: 14px;
	font-family: var(--display);
	font-weight: bold;
	color: var(--f-med);
	padding: 4px 1px 1px 1px;
	border-bottom: 2px solid transparent;
}
.nav:hover {
	color: var(--accent2);
	border-bottom: 2px solid var(--accent);
}
:global(.dark) .nav:hover {
	background-color: transparent;
	color: var(--accent2);
}
.inline {
	font-weight: bold;
	border-bottom: 2px solid var(--accent);
	color: var(--f-med);
}
.inline:hover {
	border-bottom: 2px solid var(--accent);
	color: var(--accent2);
}
