.base {
	margin-bottom: 8px;
	color: var(--f-low);
}

.heading {
	color: var(--f-high);
	font-weight: bold;
	font-size: 20px;
	margin-bottom: 14px;
}

.subheading {
	font-weight: bold;
	font-size: 16px;
	margin-bottom: 4px;
}

.label {
	color: var(--f-low);
	font-style: italic;
	font-size: 13px;
	margin-bottom: 4px;
}
