h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  font-weight: normal;
}
button {
  background: transparent;
  border: none;
}
a {
  color: inherit;
  text-decoration: none;
}
body {
  margin: 0;
  font-size: 1rem;
}
ul,
li {
  list-style: none;
  margin: 0;
}
img {
  max-width: 100%;
}
