:root {
	--lavender: #cdc5d4;
	--lavender-alt: #dad7db;
	--rose: #e2bab4;
	--rose-alt: #ebc7c1;
	--lemon: #f7cc95;
	--lemon-alt: #fad9af;
	--leaf: #bec2bb;
	--leaf-alt: #caccc8;

	--fg-bright: #fdfbfb;
	--fg: #dad5d4;
	--fg-subtle: #cec9c7;

	--page: #252323;
	--surface: #2e2c2c;
	--border: #0a0a0a;
}
.light:root {
	--fg-bright: #0a0a0a;
	--fg: #363535;
	--fg-subtle: #464242;

	--page: #fcf9f8;
	--surface: #f8f3f1;
	--border: #2c2929;
}

html {
	@apply bg-border;
}

body {
	@apply h-full antialiased bg-page text-fg transition-all duration-300;
}

/* use with bg-(theme color) for emphasized text */
.highlight {
	@apply text-fg dark:text-page px-0.5 mx-0.5 font-bold;
}

/* use on clickable elements to zoom images */
.zoomImagesOnHover:hover img {
	@apply scale-105;
}

/* NUXT CONTENT MARKDOWN STYLES */

/* text */
.nuxt-content h1 {
	@apply font-display text-3xl pt-8 mb-10;
}
.nuxt-content h2 {
	@apply font-display text-2xl pt-6 mb-6;
}
.nuxt-content h3 {
	@apply font-bold text-xl pt-4 mb-4;
}
.nuxt-content h4 {
	@apply font-bold italic text-lg  pt-2 mb-2;
}
.nuxt-content p {
	@apply text-fgSubtle pt-2 mb-4;
}

/* text links */
.nuxt-content a {
	@apply font-bold text-fgSubtle hover:text-fg dark:hover:text-lavender relative;
}
.nuxt-content a::before {
	content: '';
	@apply absolute h-0.5 -bottom-0.5 w-full left-0 bg-lavender transition-all duration-300;
}
.nuxt-content a:hover::before {
	@apply bg-rose;
}

/* blockquotes */
.nuxt-content blockquote {
	@apply relative pl-6;
}
.nuxt-content blockquote :matches(h1, h2, h3, h4) {
	@apply pt-4;
}
.nuxt-content blockquote::before {
	content: '';
	height: calc(100% - 1rem);
	@apply absolute w-1 left-0 bottom-0 bg-lavender opacity-60;
}
.nuxt-content blockquote > blockquote::before {
	@apply absolute w-1 left-0 bottom-0 bg-rose opacity-60;
}

/* lists */
/* unordered list */
.nuxt-content ul {
	@apply text-fgSubtle pt-4 leading-loose;
}
.nuxt-content ul li {
	@apply mb-4 relative pl-8;
}
.nuxt-content ul li p {
	@apply pt-0 mb-4 relative;
}
.nuxt-content ul li::before {
	content: '';
	@apply absolute left-0 top-2.5 w-2 h-2 bg-lavender rounded-sm border-2 border-border;
}

/* ordered list */
/* up to 10 items: if needed will have to create more */
.nuxt-content ol {
	@apply text-fgSubtle pt-4 leading-loose;
}
.nuxt-content ol li {
	@apply mb-4 relative pl-8;
}
.nuxt-content ol li p {
	@apply pt-0 mb-4 relative;
}
.nuxt-content ol li::before {
	@apply absolute left-0 top-0 font-mono;
}
.nuxt-content ol li:nth-child(1):before {
	content: '1.';
}
.nuxt-content ol li:nth-child(2):before {
	content: '2.';
}
.nuxt-content ol li:nth-child(3):before {
	content: '3.';
}
.nuxt-content ol li:nth-child(4):before {
	content: '4.';
}
.nuxt-content ol li:nth-child(5):before {
	content: '5.';
}
.nuxt-content ol li:nth-child(6):before {
	content: '6.';
}
.nuxt-content ol li:nth-child(7):before {
	content: '7.';
}
.nuxt-content ol li:nth-child(8):before {
	content: '8.';
}
.nuxt-content ol li:nth-child(9):before {
	content: '9.';
}
.nuxt-content ol li:nth-child(10):before {
	content: '10.';
}

/* horizontal rule */
.nuxt-content hr {
	@apply my-12 h-1 bg-fg opacity-60;
}

/* images */
.nuxt-content img {
	@apply border-8 border-border rounded-xl mt-8 opacity-100;
}

/* code */
/* do this with prism */

/* inline code */
/* looks like this is prism too */
