:root {
	--color-lavender: #dad4e0;
	--color-rose: #f5e0dc;
	--color-lemon: #fce5c4;
	--color-leaf: #d6dad4;
	--color-coal: #252222;
	--color-night: #111010;
	--color-paper: #fcf9f8;
}
.light:root {
	--color-lavender: #cdc5d4;
	--color-rose: #e2bab4;
	--color-lemon: #f7cc95;
	--color-leaf: #bec2bb;
	--color-coal: #332e2e;
	--color-night: #252222;
}

html {
	@apply bg-night;
}

body {
	@apply h-full antialiased bg-coal text-white;
}

.light body {
	@apply bg-paper text-coal;
}

/* use with bg-(theme color) for emphasized text */
.highlight {
	@apply text-night px-0.5 mx-0.5 font-bold;
}

.nuxt-content h1 {
	@apply font-display text-5xl mb-20;
}
.nuxt-content h2 {
	@apply font-display text-4xl mb-16;
}
.nuxt-content h3 {
	@apply font-bold text-3xl mb-12 opacity-90;
}
.nuxt-content h4 {
	@apply font-bold italic text-2xl mb-12 opacity-90;
}
.nuxt-content p {
	@apply text-lg mb-12 opacity-80;
}
