:root {
  --color-lavender: #dad4e0;
  --color-rose: #f5e0dc;
  --color-lemon: #fce5c4;
  --color-leaf: #ced9cd;
  --color-coal: #312c2c;
  --color-night: #232121;
  --color-paper: #fdf8f6;
}

.highlight {
  @apply text-night px-1 mx-1 font-bold;
}

html {
  background: var(--color-night);
}

body {
  height: 100%;
}

@media (prefers-color-scheme: light) {
  body {
    background: var(--color-paper);
    color: var(--color-night);
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background: var(--color-coal);
    color: white;
  }
}
